<tr>
	<td><%= band_image(band, :small) %></td>
	<td><%= link_to band.name, band_url(band) %></td>
	<% if logged_in? && current_user.admin? %>
		<td><%= link_to "Edit", edit_band_url(band) %></td>
		<td><%= link_to "Destroy", band_url(band), :method => :delete, 
						:data => { confirm: "Really delete #{band.name}?" }, class: "btn btn-danger btn-mini" %></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>
</tr>