@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
$headingsFontFamily: Montserrat Alternates;
$baseFontFamily: Oxygen;


/* Define navbarSearchBorder as background hero unit BG color */
$navbarSearchBorder: lightGray;
$navbarBackground: $navbarSearchBorder;
$navbarBackgroundHighlight: $navbarSearchBorder;

@import 'bootstrap';
@import 'bootstrap-responsive';

/* Text elements */
$textColor: black;

body{
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.band-image.small {
	height: 50px;
	width: 50px;
}

.band-image.medium {
	height: 200px;
	width: 200px;
}

.band-image.large {
	height: 500px;
	width: 500px;
}

.album-image.small {
	height: 50px;
	width: 50px;
}

.album-image.medium {
	height: 200px;
	width: 200px;
}

.album-image.large {
	height: 500px;
	width: 500px;
}