@import url(http://fonts.googleapis.com/css?family=Carme);                  /* display font */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);                  /* 'coding' font */

$baseFontFamily: Carme;
$headingsFontFamily: Varela Round;

$navbarBackgroundHighlight: #fc0;               /* yellow 255, 204, 0, used for links and top splash bar */
$navbarBackground: $navbarBackgroundHighlight;  /* top splash bar color*/
$linkColor: $navbarBackgroundHighlight;         /* link color */
$navbarHeight: 3px;
                  
$accentColor: #f00;            /* accent color used for <hr> */

$bodyBackground: #333;								/* grey */

$textColor: #ddd;     /* light gray 221,221,221 */

$linkColorHover: #f90;

@import 'bootstrap';
body{
    padding-top: 30px;
}

@import 'bootstrap-responsive';

a {
    text-decoration: none;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
}

a:hover {
	text-decoration: none;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid $accentColor;
    margin: 1em 0; padding: 0;
}

.nav-tabs {
  border-bottom: 1px solid $accentColor;
}
.nav-tabs > li > a {
  border: 0px solid $navbarBackgroundHighlight;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: darken($navbarBackgroundHighlight, 20%);
}

.flash {
    text-align: center;
    padding:  .3em .4em;
    margin:   0 auto .5em;
    clear:    both;
    max-width:  46.923em; /* 610/13 */  
    *max-width: 45.750em; /* 610/13.3333 - for IE */
    color: $navbarBackgroundHighlight;
}

